
#main {
    margin-top: 50px;
    height: 90vh;

}

.redBackground {
    background-color: #e84c3d;
}

.whiteText {
    color: #fff;
}

#map, #mapFilter {
    height: 100%;
    margin: 0;
    padding: 0;
}

.gm-style-iw{
    align-content: center;
}
.gm-style-iw p {
    color: black;
    margin: 0;
}
.checkShop{
    width: 100%;
    margin-top: 0.7em;

}
.checkShop input{
    float: right;
    background-color: #e84c3d;

}
#mapFilters{
    margin:1.5em;
}









