body, html{
    height:100% !important;
    min-height: 100vh;
}
/*colors*/
.redBackground {
    background-color: #e84c3d;
}

.whiteText {
    color: #fff;
}

/*Jumbotron*/
.jumbotron {
    margin-bottom: 0;
    padding-left: 1.5em;
    display: flex;
    background: url("../../images/indexImg/Titlepict.jpg") center;
    color: white;
    height: 20em;
    background-size: cover;
    justify-content: flex-start;
    align-items: center;
}

.jumbotron .container {
    margin-left: 2em;
}

.jumbotron h1 {
    font-size: 2.8vw;
    line-height: 0.4em;
}

h2 {
    font-size: 2.5vw;
}

/*Carousels*/
#categoriesCarousel {
    padding: 1em 1em;
    background-color: #95989A;
}

.categorieesC img {
    width: 280px;
    height: 190px;
}

.categorieesC {
    text-align: center;
    font-size: 1.5em;
    background-color: #e84c3d;
}

#main{
    height: 100%;
    min-height: 100%;
}
.list {
    min-height: 55%;
    margin-right: 0;
    padding-right: 0;
    position: relative;
}

.listInfo {
    position: absolute;
    margin: 0;
    height: 100%;
}

.addList {
    margin-top: 1em;
    padding: 0;
    float: right;
}
#delItem{
    color: #e84c3d;
}
#delItem:focus{}
#delItem:hover{
    color: black;
    cursor: pointer;
}
#addItemInListBtn{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-color: #e84c3d;
}

.searhcList {
    height: 3em;
}

.productForm {
    padding: 0 2em;
    min-height: 21em;
    height: auto;
}

#productList {
    width: 80%;
    color: black;
    overflow-x: auto;
}

.itemList {
    padding: 0 0.5em;
    margin-bottom: 0.5em;
}
li span{
    margin-left: 1em;
}

#inputItemAmount{
    width: 20%;
}
#inputItemInList{
    width: 80%;
}
.btn-remove {
    align-content: center;
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    margin: 0 1em;
    padding: 0;
}

#doneItemListBtn, #createItemListBtn {
    display: none;
    margin-bottom: 1em;
}

.row-eq-height {
    margin-bottom: 0;
}
